* {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: small;
  padding: 0;
  margin: 0;
}
/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/
.roche-fotografia-grid {
  width: 99%;
  display: grid;
  background-color: rgb(253, 253, 253);
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "nav"
  "medio"
  "barra"
  "quince"
  "boda"
  "bau"
  "pibe"
    "pie";
}

#nav {
  grid-area: nav;
  top: 0;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#barra {
  grid-area: barra;
}
#tabla {
  grid-area: medio;
}
#quince {
  grid-area: quince;
}
#pie {
  grid-area: pie;
}
#boda {
  grid-area: boda;
}
#bautismo {
  grid-area: bau;
}
#colegio {
  grid-area: pibe;
}
/*/ Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .roche-fotografia-grid {
    width: 99%;
    display: grid;
    background-color: rgb(253, 253, 253);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "nav"
      "medio"
      "barra"
      "quince"
      "boda"
      "bau"
      "pibe"
      "pie";
  }
  #nav {
    grid-area: nav;
    top: 0;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #barra {
    grid-area: barra;
  }
  #tabla {
    grid-area: medio;
  }
  #quince {
    grid-area: quince;
  }
  #pie {
    grid-area: pie;
  }
  #boda {
    grid-area: boda;
  }
  #bautismo {
    grid-area: bau;
  }
  #colegio {
    grid-area: pibe;
  }
}

/*/ Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
      "nav nav"
      "barra medio"
      "quince boda"
      "bau pibe"
      "pie pie";
  }
  #nav {
    grid-area: nav;

    top: 0;
  }
}

/*/ Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*/ X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .grid {
    background-color: rgb(250, 250, 253);
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "nav nav nav"
      "barra medio medio"
      "barra quince boda"
      "pibe pibe pibe"
      "bau bau bau"
      "pie pie pie";
  }
  #nav {
    flex-direction: row;
  }
}

/*/ XX-Large devices (larger desktops, 1400px and up)*/

/* navegacion para los 5 paginas*/
.barra-navegacion {
  height: 240px;
  background-color: blue;
}
nav {
  border: 2px solid black;
}
nav img {
  height: 150px;
  margin: 5px;
}

.barra-botones {
  background-color: rgb(255, 255, 255);
  margin: 15px auto;
  padding: 15px;
  text-align: center;
  width: 500px;
  border: 3px solid black;
  position: relative;
  top: 35px;
  left: 0px;
}
a {
  margin: 3px 15px;
  text-decoration: none;
} /* fin de las navegacion*/

/* estilos con git*/
.foto2 img:hover {
  transform: translate(20px, -15px);
  cursor: pointer;
  transition: transform 3s;
}
nav img:hover {
  transition: transform 3s;
  transform: rotateY(60deg);
  transform-style: preserve-3d;
}
nav {
  background-image: linear-gradient(
    to bottom right,
    rgb(66, 10, 221),
    rgb(175, 194, 247)
  );
}
.barra-botones {
  background-image: linear-gradient(
    to bottom right,
    rgb(66, 10, 221),
    rgb(175, 194, 247)
  );
}
/*body*/
h1 {
  margin: 50px 80px;
  width: 200px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
}

.article {
  width: 60%;
  height: auto;
  margin: 5px;
  padding: 5px;
  font-size: 15px;
}
.foto1 {
  width: 400px;
  height: 390px;
}
.foto1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.foto2 {
  width: 400px;
  height: 390px;
}
.foto2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section1 {
  display: flex;
}
/*gridindex*/

/* fin del index*/
/*promociones*/
.barralateral {
  width: auto;
  text-align: left;
  display: flexbox;
  width: auto;
  height: auto;
  margin: 5px;
  padding: 5px;
}
aside blockquote {
  padding: 15px 1px;
}
#tabla {
  height: 100px;
  margin: 50px 50px;
}
.section2 {
  display: flex;
}
h2 {
  font-size: 30px;
  margin: 10px 15px;
}
.detalles {
  font-size: 20px;
  font-family: fantasy;
  margin: 20px auto;
  width: 50%;
}

.fotopromo {
  width: 100px;
  height: 100px;
  margin: 80px;
}

#quince img {
  width: 400px;
  height: 390px;
}
#boda img {
  width: 400px;
  height: 390px;
}
#bautismo img {
  width: 400px;
  height: 390px;
}
#colegio img {
  width: 400px;
  height: 390px;
}
/*contacto*/
form {
  border: 5px solid;
  width: 550px;
  padding: 5px;
  margin: 5px;
  color: blue;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/*contacto con grid*/
.pag4 {
  width: 99%;
  display: grid;
  background-color: rgb(253, 253, 253);
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "nav"
    "foto4"
    "form"
    "map"
    "pie4";
}
.nav4 {
  grid-area: nav;
}
.foto4 {
  grid-area: foto4;
}
.formu {
  grid-area: form;
}
.mapa {
  grid-area: map;
}
.pie4 {
  grid-area: pie4;
}

/* servicios con grid*/
.pag3 {
  height: 99%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "nav33"
    "aside3"
    "foto33"
    "pie3";
}
.nav3 {
  grid-area: nav33;
  top: 0;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navegacion3 {
  grid-area: aside3;
}
.fotos3 {
  grid-area: foto33;
}
.pie3 {
  grid-area: pie3;
}
/*medida768*/
@media (min-width: 768px) {
  .pag3 {
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas:
      "nav33 nav33"
      "aside3 foto33"
      "pie3 pie3";
  }
  .fotos3 {
    display: flex;
    flex-direction: row;
    height: 600px;
  }
}
/*pantalla grande 1024*/
@media (min-width: 1024px) {
  .pag3 {
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas:
      "nav33 nav33 "
      "aside3 foto33"
      "pie3 pie3";
  }

  .nav3 {
    display: flex;
    flex-direction: row;
  }
}

/* pie de paginas para las paginas*/

footer {
  background-color: rgb(38, 38, 247);
  text-align: right;
}
footer img {
  width: 5%;
  display: flexbox;
}
